.card{
    width: 25rem;
    height: 40rem;
    margin-left: 5rem;
    margin-top: 5rem;
    border-radius:20px;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.2);

  
    
    
  }

  .card-img-top{
    width: 25rem;
    height: 30rem;;
    margin-left: 0rem;
    border-radius: 20px;
    
    
  }

  .button-compra{
    cursor: pointer;
    width:10rem;
    border-color: black;
    border-radius: 20px;
    margin-left: 2rem;
  


  }
  .button-compra:hover{
    background-color: #B6B6B6;

  }

  .p-style{
    margin-left: 2.5rem;
    font-weight: bold;
    


  }

  .a-style{
    margin-left: 2.5rem;
    font-weight: medium;
    color: red;
    text-decoration-line: none;
  

  }

  .container{
    display: flex;
        flex-wrap: wrap;
    justify-content:center;
    

  }

  .select{
    width: 20%;
    margin-left: 4rem;
    border-radius:50px;
    
  }

  .a-talla{
    margin-left: 6.5rem;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}